In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\MAURYA\AppData\Local\Temp\ipykernel_10904\555797462.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
books = pd.read_csv("DS_Books.csv", sep=";", on_bad_lines="skip", encoding="latin-1")

C:\Users\MAURYA\AppData\Local\Temp\ipykernel_10904\3586815224.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("DS_Books.csv", sep=";", on_bad_lines="skip", encoding="latin-1")

In [3]:
books.shape

(271360, 8)

In [4]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
books=books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L']]

In [7]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [16]:
books.rename(columns={"Book-Title":"title",
                      "Book-Author":"author",
                      "Year-Of-Publication":"year",
                      "Publisher":"publisher",
                      "Image-URL-L":"img"
                     },inplace=True)

In [17]:
books.head(2)

,ISBN,title,author,year,publisher,img
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [18]:
users= pd.read_csv("DS_Users.csv", sep=";", on_bad_lines="skip", encoding="latin-1")

In [20]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [22]:
users.rename(columns={"User-ID":"uid",	"Location":"location","Age":"age"
                     },inplace=True)

In [23]:
users.head(2)

   uid                   location   age
0    1         nyc, new york, usa   NaN
1    2  stockton, california, usa  18.0

In [24]:
users.shape

(278858, 3)

In [26]:
ratings= pd.read_csv("DS_Book_Ratings.csv", sep=";", on_bad_lines="skip", encoding="latin-1")

In [27]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [28]:
ratings.rename(columns={"User-ID":"uid","Book-Rating":"rating"
                     },inplace=True)

In [29]:
ratings.head(2)

      uid        ISBN  rating
0  276725  034545104X       0
1  276726  0155061224       5

In [30]:
ratings.shape

(1149780, 3)

In [32]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 6)
(278858, 3)
(1149780, 3)

In [33]:
ratings['uid'].value_counts()

uid
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [34]:
ratings['uid'].unique().shape

(105283,)

In [39]:
x=ratings['uid'].value_counts() > 200
x[x].shape

(899,)

In [43]:
y= x[x].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='uid', length=899)

In [45]:
ratings=ratings[ratings['uid'].isin(y)]

In [46]:
ratings.head()

         uid        ISBN  rating
1456  277427  002542730X      10
1457  277427  0026217457       0
1458  277427  003008685X       8
1459  277427  0030615321       0
1460  277427  0060002050       0

In [47]:
ratings.shape

(526356, 3)

In [48]:
books.head(2)

,ISBN,title,author,year,publisher,img
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [49]:
rating_with_books=ratings.merge(books,on="ISBN")

In [50]:
rating_with_books.head()

,uid,ISBN,rating,title,author,year,publisher,img
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [54]:
rating_with_books.shape

(487671, 8)

In [55]:
num_rating = rating_with_books.groupby('title')['rating'].count().reset_index()

In [56]:
num_rating.shape

(160269, 2)

In [57]:
num_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [58]:
num_rating.rename(columns={"rating":"num_of_rating"},inplace=True)

In [59]:
num_rating.head()

                                               title  num_of_rating
0   A Light in the Storm: The Civil War Diary of ...              2
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [62]:
final_rating=rating_with_books.merge(num_rating, on='title')

In [63]:
final_rating.head(2
                )

,uid,ISBN,rating,title,author,year,publisher,img,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,7

In [64]:
final_rating.shape

(487671, 9)

In [68]:
final_rating=final_rating[final_rating['num_of_rating']>=50]

In [71]:
final_rating.shape

(61853, 9)

In [72]:
final_rating.sample(10)

,uid,ISBN,rating,title,author,year,publisher,img,num_of_rating
140833,80683,067942525X,0,Intensity,DEAN KOONTZ,1996,Knopf,http://images.amazon.com/images/P/067942525X.0...,71
80459,39467,0553279912,7,A Is for Alibi (Kinsey Millhone Mysteries (Pap...,SUE GRAFTON,1987,Bantam,http://images.amazon.com/images/P/0553279912.0...,140
109811,59971,034540288X,0,The Lost World,Michael Crichton,1996,Ballantine Books,http://images.amazon.com/images/P/034540288X.0...,101
304244,177072,0440211727,7,A Time to Kill,JOHN GRISHAM,1992,Dell,http://images.amazon.com/images/P/0440211727.0...,210
53559,28634,039914515X,0,Black Notice,Patricia Daniels Cornwell,1999,Putnam Berkley Audio,http://images.amazon.com/images/P/039914515X.0...,123
227450,129851,0440214041,0,The Pelican Brief,John Grisham,1993,Dell,http://images.amazon.com/images/P/0440214041.0...,236
384886,224764,042516098X,0,Hornet's Nest,Patricia Daniels Cornwell,1998,Berkley Publishing Group,http://images.amazon.com/images/P/042516098X.0...,97
479654,269719,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,84
72998,36606,0449223604,0,M Is for Malice,Sue Grafton,1998,Fawcett Books,http://images.amazon.com/images/P/0449223604.0...,72
145989,85701,0156027321,0,Life of Pi,Yann Martel,2003,Harvest Books,http://images.amazon.com/images/P/0156027321.0...,185

In [74]:
final_rating.drop_duplicates(['uid','title'],inplace=True)

In [75]:
final_rating.shape

(59850, 9)

In [76]:
book_pivot_table=final_rating.pivot_table(columns='uid',index='title',values='rating')

In [77]:
book_pivot_table

uid,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
book_pivot_table.shape

(742, 888)

In [80]:
book_pivot_table.fillna(0,inplace=True)

In [81]:
book_pivot_table

uid,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
from scipy.sparse import  csr_matrix

In [83]:
book_sparse = csr_matrix(book_pivot_table)

In [85]:
book_sparse.shape

(742, 888)

In [87]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [88]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [90]:
distance, suggestion = model.kneighbors(book_pivot_table.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [91]:
distance

array([[ 0.        , 67.75691847, 68.05145112, 72.277244  , 75.81556568,
        76.30203143]])

In [92]:
suggestion

array([[237, 238, 240, 241, 184, 536]], dtype=int64)

In [96]:
for i in range(len(suggestion)):
    print(book_pivot_table.index[suggestion[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [97]:
book_pivot_table.index[4]

'84 Charing Cross Road'

In [98]:
books_name= book_pivot_table.index

In [99]:
books_name.shape

(742,)

In [100]:
import pickle 
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(books_name,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot_table,open('artifacts/book_pivot_table.pkl','wb'))

In [104]:
def recommend_book(book_name):
    book_id=np.where(book_pivot_table.index==book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot_table.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    for i in range(len(suggestion)):
        books = book_pivot_table.index[suggestion[i]]
        for j in books: 
            print(j)

In [103]:
np.where(book_pivot_table.index== "4 Blondes")[0][0]

3